{% for flash_type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ flash_type }} my-4">
                {{ message }}
            </div>
        {% endfor %}
{% endfor %}
