{% extends 'layout.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block content %}
    <h1>Accés Interdit</h1>
    <p><a href={{ path('main_homepage') }}>Revenir a la page de menu</a></p>
{% endblock %}
