{% extends 'layout.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block content %}
    <h1>Probléme Survenue</h1>
    <p><a href={{ path('main_homepage') }}>Revenir a la page de menu</a></p>
{% endblock %}
