{% extends 'layout.html.twig' %}
{% block title %}Plug Employ{% endblock %}
{% block content %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i>&nbsp;Followed by NAME OF PROJECT</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/"><i class="fa fa-home fa-lg"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ asset('/project/edit/'~1) }}">Project</a>
                </li>
                <li class="breadcrumb-item">Followed by NAME OF PROJECT</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="tile">
                    <table class="table table-striped table-bordered table-sm">
                        <tbody>
                        <tr>
                            <th>Name
                            </td>
                            <td>Nom du projet</td>
                        </tr>
                        <tr>
                            <th>Description
                            </td>
                            <td>une description</td>
                        </tr>
                        <tr>
                            <th>Price
                            </td>
                            <td>500€</td>
                        </tr>
                        <tr>
                            <th>Creation Date
                            </td>
                            <td>10/12/2011</td>
                        </tr>
                        <tr>
                            <th>Delivey Date
                            </td>
                            <td>05/08/2020</td>
                        </tr>
                        <tr>
                            <th>Hiring date
                            </td>
                            <td>10/12/2012</td>
                        </tr>
                        <tr>
                            <th>Total cost
                            </td>
                            <td>500000€</td>
                        </tr>
                        <tr>
                            <th>Number people
                            </td>
                            <td>30</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{{ asset('/project/edit/'~1) }}" class="btn btn-info">
                        <i class="fa fa-pencil"></i>Modify
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tile pb-5">
                    <h3 class="tile-title">Production time history</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Name</th>
                                <th>Number of hours spent on the project</th>
                                <th>Total cost per person</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in 1..6 %}
                                <tr>
                                    <td>Prenom de la personne</td>
                                    <td>Nom de la personne</td>
                                    <td>500 heures</td>
                                    <td>500 000 000 €</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr/>
                    <nav class="float-right">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1<span class="sr-only">(current)</span></span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a></li>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
